{% extends "base.html" %}
{% block deployments %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-10"></h1>
</div>
<div class="container">
    <div class="card-deck mb-3" style="max-width: 70rem;">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Chose Openshift Deployment Scheme</h4>
            </div>
            <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="FormControlSelect1">Select Deployment Scheme</label>
                    <select class="form-control" id="SelectSchema">
                        <option id="depschema" value="" disabled selected>Please select...</option>
                        {% for i in deptypes %}
                        <option id="depschema" value="{{ i['Name'] }}">{{ i['Name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <table class="fixed" border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td align="right">
                            <label for="VM">Number of Openshift VMs:</label>
                        </td>
                        <td>
                            <label id="VM" class="font-weight-bold">N of VMs</label>
                        </td>
                        <td rowspan="0">
                            <img id="image" src="/static/Deployments/blank.jpg" class="img-fluid" width="300" height="300">
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <label for="vcpu">vCPU:</label>
                        </td>
                        <td>
                            <label id="vcpu" class="font-weight-bold">vCPU</label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <label for="RAM">RAM:</label>
                        </td>
                        <td>
                            <label id="RAM" class="font-weight-bold">RAM</label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <label for="Storage">Storage:</label>
                        </td>
                        <td>
                            <label id="Storage" class="font-weight-bold">Storage</label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <label for="IOPS">IOPS:</label>
                        </td>
                        <td>
                            <label id="IOPS" class="font-weight-bold">IOPS</label>
                        </td>
                    </tr>
                    </table>

                <div class="card-footer bg-transparent border-0">
                    <button type="button" class="btn btn-outline-primary" id="NextBtn" onclick="javascript:Redirect(this)">Next</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<script type=text/javascript>
  var dtype=document.getElementById("SelectSchema").value;
  $(function() {
      $('#SelectSchema').change(function() {
      $.getJSON('http://localhost:8080/get-data', { deployment: $( "#SelectSchema option:selected" ).text() }, function(data) {
        $('#VM').text(data.VM);
        $('#vcpu').text(data.vCPU);
        $('#RAM').text(data.RAM);
        $('#Storage').text(data.Storage);
        $('#IOPS').text(data.IOPS);
        $('#image').attr('src', data.Image);
        });
      });
      return false;
    });
</script>
{% endblock %}